.mainwrapper{
	padding-top: 50px;
}
.fa-paper-plane{
	color: #347CD4;
	padding-left: 20px;
}
hr{
    border-style: double;
    border-width: 2px;
    border-color: #EEEEEE;
}
.imgheading{
	top: 0;
	left: 0;
	width: 180px;
	text-align: justify;
}
.maincontent{
	border: 2px solid;
	background-color: #FFFFFF;
	z-index: 4;
	position: relative;
	top: 90px;
	left: -50px;
	float: left;
	padding: 10px 10px 10px 10px;
}
@media only screen and (max-width:767px){
	.maincontent{
		top: 10px;
		left:0;
	}
}
@media only screen and (min-width: 300px){
	.col-xs-12{
		right: 0;
	}
}
}
